.auth-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
  }
  
  .auth-box {
    margin-top: 100px;
    margin-left: 40%;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
  }
  
  .auth-box h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .auth-box form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-box input {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .auth-box button {
    padding: 0.8rem;
    background: #6e8efb;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .auth-box button:hover {
    background: #5a75e4;
  }
  
  .auth-box .message {
    text-align: center;
    color: red;
    margin-top: 1rem;
  }
  